<form data-turbo="true" action="<%= destroy_account_session_path %>" accept-charset="UTF-8" method="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <button class="btn btn-secondary btn-sm" type='submit'>Sign out</button>
</form>